@using OleLukoje.Models
@model Ad

<link href="~/Content/bootstrap-formhelpers.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-formhelpers.min.js"></script>
<script src="~/Scripts/bootstrap-formhelpers-countries.js"></script>
<script src="~/Scripts/bootstrap-formhelpers-states.js"></script>

<br />
<div class="col-md-8" style="border-right: 1px solid lightgrey">
    <div class="row">
        <div class="col-md-4">
            <img src="~/Files/default.jpg" class="img-responsive" alt="@Model.Header">
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-3">
                    <h4></h4>
                </div>
                <div class="col-md-9 text-justify">
                    <h4>Description:</h4>
                    <p><h4 style="word-wrap:break-word;">@Model.Description</h4></p>
                </div>
                <br />
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-2">
            <h4>Categories:</h4>
        </div>
        <div class="col-md-10">
            @foreach (Category category in Model.Categories)
            {
                <div class="category">
                    @category.Name
                </div>
            }
        </div>
        <br />
    </div>
    <hr />
    @if (Model.AdCharacteristics.Count != 0)
    {
        <h3 class="text-center">Characteristics</h3>
        <div class="table-responsive">
            <table class="table table-bordered col-md-12">
                <tbody>
                    @foreach (AdCharacteristic adCharacteristic in Model.AdCharacteristics)
                    {
                        <tr>
                            <td style="font-weight: bold; width: 200px">@adCharacteristic.Name</td>
                            <td>@adCharacteristic.Description</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
<div class="col-md-4">
    <!-- SELLER -->
    <p><h4 class="text-center">Information about seller - @Html.ActionLink(Model.UserProfile.UserName, "UserProfile", "UserProfile", new { userName = Model.UserProfile.UserName }, new { @class = "author" })</h4></p>
    <hr />
    @if (Model.UserProfile.Name != null)
    {
        <div class="row">
            <div class="col-md-4">
                <h4>Name:</h4>
            </div>
            <div class="col-md-8">
                <h4>@Model.UserProfile.Name</h4>
            </div>
        </div>
    }
    @if (Model.UserProfile.Surname != null)
    {
        <div class="row">
            <div class="col-md-4">
                <h4>Surname:</h4>
            </div>
            <div class="col-md-8">
                <h4>@Model.UserProfile.Surname</h4>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-4">
            <h4>Phone:</h4>
        </div>
        <div class="col-md-8">
            <h4>@Model.UserProfile.Phone</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4>Email:</h4>
        </div>
        <div class="col-md-8">
            <h4>@Model.UserProfile.Email</h4>
        </div>
    </div>
    @if (Model.UserProfile.Country != null)
    {
        <div class="row">
            <div class="col-md-4">
                <h4>Country:</h4>
            </div>
            <div class="col-md-8">
                <h4><span class="bfh-countries" data-country="@Model.UserProfile.Country" data-flags="true"></span></h4>
            </div>
        </div>
    }
    @if (Model.UserProfile.City != null)
    {
        <div class="row">
            <div class="col-md-4">
                <h4>City:</h4>
            </div>
            <div class="col-md-8">
                <h4><span class="bfh-states" data-country="@Model.UserProfile.Country" data-state="@Model.UserProfile.City"></span></h4>
            </div>
        </div>
    }
</div>