@using OleLukoje.Models
@model IEnumerable<Ad>

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<link rel="stylesheet" href="~/Content/fa/css/font-awesome.css" />
<link rel="stylesheet" href="~/Content/bootstrap.css" />
<link rel="stylesheet" href="~/Content/MyStyle.css" />

<!--TODO SEARCH PARTIAL VIEW - update div id = "ListAds"-->

@if (Model.ToList().Count != 0)
{
    foreach (Ad ad in Model)
    {
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-12">
                    <div class="row">
                        <div class="header col-sm-8 col-xs-12">@ad.Header</div>
                        <div class="price col-sm-4 col-xs-12">@ad.Price ₴</div>
                    </div>
                    <div class="row">
                        <div class="author col-sm-12">
                            by <a>@ViewBag.UserName</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 categories">
                            @foreach (var category in ad.Categories.ToList())
                            {
                                <div class="category">
                                    @category.Name
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <h1>Ads is not found</h1>
}