@using OleLukoje.Models
@model List<Ad>

@if (Model != null && Model.ToList().Count != 0)
{
    for (int indexAd = 0; indexAd < Model.Count(); indexAd++)
    {
        <div class="container col-md-10" id="@Model[indexAd].Id">
            <input type="hidden" name="AdsId" id="AdsId" value="@Model[indexAd].Id" />
            <div class="white-section">
                @if (ViewBag.MyAds)
                {
                    <div class="col-md-11"></div>
                    <button type="button" class="btn btn-danger col-md-1" value="@Model[indexAd].Id" onclick="DeleteAd(this.value)">X</button>
                }
                <div class="row">
                    <div class="header col-md-8">
                        @Html.ActionLink(Model[indexAd].Header, "SingleAdView", "Ad", new { Id = Model[indexAd].Id }, null)
                    </div>
                    <div class="price col-md-4">
                        @Model[indexAd].Price ₴
                    </div>
                </div>
                <div class="row">
                    <div class="author col-md-12">
                        by <a>@Model[indexAd].UserProfile.UserName</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        @foreach (var category in Model[indexAd].Categories.ToList())
                        {
                            <div class="category">
                                @category.Name
                            </div>
                        }
                    </div>
                    <div class="col-md-2">
                        @Model[indexAd].DateAd.ToShortDateString()
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <h1>Ads is not found</h1>
}

<script>
    $('#maxPrice').val('@ViewBag.MaxPrice');
    $('#minPrice').val('@ViewBag.MinPrice');
    function DeleteAd(value) {
        var s = { 'idAd': value };
        $.ajax({
            url: '/Ad/DeleteAd',
            method: 'POST',
            data: JSON.stringify(s),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (idAd) {
                var del = "#" + idAd;
                $(del).remove();
            },
        });
    }
</script>