@using OleLukoje.Models
@model IEnumerable<Ad>

@if (Model.ToList().Count != 0)
{
    foreach (Ad ad in Model)
    {
        <div class="container col-md-10" id="@ad.Id">
            <div class="white-section">
                @if (ViewBag.MyAds)
                {
                    <div class="col-md-11"></div>
                    <button type="button" class="btn btn-danger col-md-1" value="@ad.Id" onclick="DeleteAd(this.value)">X</button>
                }
                <div class="row">
                    <div class="header col-md-8">@Html.ActionLink(ad.Header, "SingleAdView", "Ad", new { Id = ad.Id }, null)</div>
                    <div class="price col-md-4">@ad.Price ₴</div>
                </div>
                <div class="row">
                    <div class="author col-md-12">
                        by <a>@ad.UserProfile.UserName</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 categories">
                        @foreach (var category in ad.Categories.ToList())
                        {
                            <div class="category">
                                @category.Name
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <h1>Ads is not found</h1>
}

<script>
    function DeleteAd(value) {
        var s = { 'idAd': value };
        $.ajax({
            url: '/Ad/DeleteAd',
            method: 'POST',
            data: JSON.stringify(s),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (idAd) {
                var del = "#" + idAd;
                $(del).remove();
            },
        });
    }
</script>