@using OleLukoje.Models
@model Ad

<link href="~/Content/MyStyle.css" rel="stylesheet" />

@using (Html.BeginForm("AddAd", "Ad", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="col-md-2"></div>
    <div class="col-md-6" style="border-right: 1px solid lightgrey">
        <h3 class="text-center">Infomations</h3>
        <br />
        <div class="row">
            <div class="col-md-2">Heared:</div>
            <div class="col-md-10">
                <input name="Header" style="display:block; height:auto; max-width:100%;  min-width:100%" type="text" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">Price:</div>
            <div class="col-md-10">
                <input name="Price" pattern="[0-9]+" style="display:block; height:auto; max-width:100%;  min-width:100%" type="text" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">Description:</div>
            <div class="col-md-10">
                <textarea name="Description" style="display:block; height:auto; max-width:100%;  min-width:100%"></textarea>
            </div>
        </div>
        <hr />
        <h3 class="text-center">Add characteristics</h3>
        <div class="row">
            <div class="col-md-1">Name:</div>
            <div class="col-md-3">
                <input id="nameCharacteristic" style="display:block; height:auto; max-width:100%;  min-width:100%" type="text" />
            </div>
            <div class="col-md-1">Text:</div>
            <div class="col-md-5">
                <input id="textCharacteristic" style="display:block; height:auto; max-width:100%;  min-width:100%" type="text" />
            </div>
            <div class="col-md-2">
                <button onclick="AddCharacteristic()" type="button" class="btn btn-block btn-default">Add</button>
            </div>
        </div>
        <div id="characteristics"></div>
        <hr />
        <h3 class="text-center">Select categories</h3>
        <div class="row">
            @foreach (Category category in ViewBag.Categories)
            {
                <div class="col-md-3 col-sm-4 text-center add_categories" id="categories-@category.Id" onclick="AddCategory('@category.Name', '@category.Id')">
                    <div id="row" style="margin-top:5px;">
                        <img src="~/Files/default_category.png" style="width: 50px; height: 50px;" />
                    </div>
                    <div id="row" style="margin-bottom:5px;">
                        @category.Name
                    </div>
                </div>
            }
            <div id="select_categories"></div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-block btn-success">Post</button>
            </div>
        </div>
        <br>
    </div>
    <div class="col-md-4">
        <h3 class="text-center">Load photo</h3>
        <br />
        @for (int i = 0; i < 8; i++)
        {
            <div class="col-md-6 col-sm-4 text-center">
                <div id="row" style="margin-top: 5px;">
                    <img id="photo-@i" src="~/Files/add_file.png" style="width: auto; height: 100px;" class="add_photo" onclick="ChoosePhoto(@i)" />
                </div>
                <div id="row" style="margin-bottom: 5px;">
                    <button style="visibility: hidden;" id="delete-file-@i" type="button" class="btn btn-block btn-danger btn-sm" onclick="DeletePhoto(@i)">delete</button>
                </div>
            </div>
            <input id="input-file-@i" onchange="AddFile(@i)" class="hidden" type="file" name="uploads" accept="image/*,image/jpeg" />
        }
    </div>
}

@section Scripts {
    <script>
        var indexCh = 0;

        function AddCharacteristic() {
            var name = $('#nameCharacteristic').val();
            var text = $('#textCharacteristic').val();
            if (!($('#characteristic-' + name).length) && name != "" && text != "") {
                var text = $('#textCharacteristic').val();
                var characteristic =
                    "<div class='row characteristic' id='characteristic-" + name + "'>" +
                    "<div class='col-md-4'>" + name + ":" + "</div><input class='NameCh' name='AdCharacteristics[" + indexCh + "].Name' type='hidden' value='" + name + "'/>" +
                    "<div class='col-md-6'>" + text + "</div><input class='TextCh' name='AdCharacteristics[" + indexCh + "].Description' type='hidden' value='" + text + "'/>" +
                    "<div class='col-md-2'><button onclick='DeleteCharacteristic(" + '"characteristic-' + name + '"' + ")' type='button' class='btn btn-block btn-danger'>Delete</button></div></div>";
                $('#characteristics').append(characteristic);
                $('#nameCharacteristic').val("");
                $('#textCharacteristic').val("");
                indexCh++;
            }
        }

        function DeleteCharacteristic(value) {
            $('#' + value).remove();
            indexCh--;
            var nameChs = $(".NameCh");
            var textChs = $(".TextCh");
            for (var i = 0; i < indexCh; i++) {
                $(nameChs[i]).attr('name', "AdCharacteristics[" + i + "].Name");
                $(textChs[i]).attr('name', "AdCharacteristics[" + i + "].Description");
            }
        }

        function ChoosePhoto(value) {
            $("#input-file-" + value).click();
        }

        function AddFile(value) {
            var input_file = document.getElementById('input-file-' + value);
            if (input_file.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#photo-' + value).attr('src', e.target.result);
                };
                reader.readAsDataURL(input_file.files[0]);
                $('#delete-file-' + value).css({ 'visibility': 'visible' });
            }
        }

        function DeletePhoto(value) {
            $('#delete-file-' + value).css({ 'visibility': 'hidden' });
            $("#input-file-").replaceWith($("#input-file-").clone(true));
            $('#photo-' + value).attr('src', '/Files/add_file.png');
        }

        function AddCategory(name, id) {
            var category = document.getElementById(id);
            var select_categories = document.getElementById("select_categories")
            if (category == null) {
                select_categories.innerHTML = select_categories.innerHTML +
                    "<input value='" + name + "' id='" + id + "' type='hidden' name='selectCategories' />";
                $("#categories-" + id).css({ 'backgroundColor': '#c1ffa4' });
            }
            else {
                $("#" + id).remove();
                $("#categories-" + id).css({ 'backgroundColor': 'white' });
            }
        }
    </script>
}