@model OleLukoje.Models.Application
@{
    ViewBag.Title = "SingleAdView";
}

<link rel="stylesheet" href="~/Content/fa/css/font-awesome.css" />
<link rel="stylesheet" href="~/Content/bootstrap.css" />
<link rel="stylesheet" href="~/Content/MyStyle.css" />
@Scripts.Render("~/Scripts/jquery-1.9.1.js")
@Scripts.Render("~/Scripts/bootstrap.min.js")

<div class="container">
    <div class="row">
        <div class="col-md-10 col-sm-12">
            <div class="row">
                <div class="header col-sm-8 col-xs-12">@ViewBag.Ad.Header</div>
                <div class="price col-sm-4 col-xs-12">
                    @ViewBag.Ad.Price‎ ₴
                    @if (ViewBag.UserName != ViewBag.UserNameSeller)
                    {
                        <button class="btn btn-info btn-lg modalbox" type="button" data-toggle="modal" data-target="#WriteSeller">Write the seller</button>
                    }
                </div>
                @if (ViewBag.Ad.StateAd == OleLukoje.Models.State.Active)
                {
                    <i class="fa-check-circle-o"></i>
                }
            </div>
            <div class="row">
                <div class="author col-sm-12">
                    by <a>@ViewBag.UserNameSeller</a>
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-12">
                    <div class="description ">@ViewBag.Ad.Description</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 categories">
                    @foreach (var category in ViewBag.Categories)
                    {
                        <div class="category">
                            @category.Name
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL WINDOW - write the seller -->
<div id="WriteSeller" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">×</button>
                <h4 class="modal-title">
                    Write to <a class="author">@ViewBag.UserNameSeller</a>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-2">
                        @Html.LabelFor(m => m.UserName)
                    </div>
                    <div class="col-sm-4">
                        @if ((string)ViewBag.UserName == "")
                        {
                            @Html.TextBoxFor(m => m.UserName)
                        }
                        else
                        {
                            <h>@ViewBag.UserName</h>
                            <input id="UserName" name="UserName" value="@ViewBag.UserName" type="hidden">
                        }
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-2">
                        @Html.LabelFor(m => m.Header)
                    </div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Header)
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-2">
                        @Html.LabelFor(m => m.Contact)
                    </div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Contact)
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-2">
                        @Html.LabelFor(m => m.Text)
                    </div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Text)
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="CancelApplicationForm" class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-success" type="submit" onclick="Send()">Send</button>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL WINDOW -->

<!-- MODAL WINDOW - order was sent -->
<button id="ShowMessage" class="modalbox hidden" type="button" data-toggle="modal" data-target="#WasSend"></button>
<div id="WasSend" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">×</button>
                <div id="Result"></div>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL WINDOW -->

<div id="Comments"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#Comments').load('@Url.Action("_GetComments", "Ad", new { idAd = ViewBag.Ad.Id })')
    });

    function Send() {
        var NameSender = document.getElementById("UserName").value;
        var Header = document.getElementById("Header").value;
        var Contact = document.getElementById("Contact").value;
        var Text = document.getElementById("Text").value;
        var s = { 'UserName' : NameSender, 'Header': Header, 'Contact': Contact, 'Text': Text, 'AdId' : @ViewBag.Ad.Id };
        $.ajax({
            url: '/Ad/AddApplication',
            method: 'POST',
            data: JSON.stringify(s),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (data) {
                ClearFormSendApplication();
                MessSend(data.Message);
            },
        });
    }
    function MessSend(mess){
        $("#CancelApplicationForm").click();
        $("#Result").empty();
        $("#Result").append(mess);
        $("#ShowMessage").click();
    }
    function ClearFormSendApplication(){
        $("#Header").val("");
        $("#Contact").val("");
        $("#Text").val("");
    }
</script>