@model OleLukoje.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap-formhelpers.min.js"></script>
<script src="~/Scripts/bootstrap-formhelpers-phone.js"></script>
<script src="~/Scripts/bootstrap-formhelpers-states.js"></script>

<div class="col-md-3 col-sm-2"></div>
<div class="col-md-6 col-sm-8">
    <hgroup class="title text-center">
        <h1>@ViewBag.Title.</h1>
        <h2>Create a new account.</h2>
    </hgroup>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <br />
        <div class="row">
            <div class="col-md-4 col-sm-6">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="col-md-8 col-sm-6">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="col-md-8 col-sm-6">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="col-md-8 col-sm-6">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                @Html.LabelFor(m => m.Phone)
            </div>
            <div class="col-md-8 col-sm-6">
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control bfh-phone", data_format = "+38 (ddd) ddd-dddd" })
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                @Html.LabelFor(m => m.Email)
            </div>
            <div class="col-md-8 col-sm-6">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <hr />
        <h3 class="text-center">Additional Information</h3>
        <br />
        <div class="row">
            <div class="col-md-4 col-sm-6">
                @Html.LabelFor(m => m.Name)
            </div>
            <div class="col-md-8 col-sm-6">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                @Html.LabelFor(m => m.Surname)
            </div>
            <div class="col-md-8 col-sm-6">
                @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                @Html.LabelFor(m => m.Country)
            </div>
            <div class="col-md-8 col-sm-6">
                <select name="Country" id="countries_states1" class="form-control bfh-countries" data-country="UA"></select>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                @Html.LabelFor(m => m.City)
            </div>
            <div class="col-md-8 col-sm-6">
                <select name="City" class="form-control bfh-states" data-country="countries_states1"></select>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                @Html.LabelFor(m => m.Organization)
            </div>
            <div class="col-md-8 col-sm-6">
                @Html.TextBoxFor(m => m.Organization, new { @class = "form-control" })
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-8 col-sm-6"></div>
            <div class="col-md-4 col-sm-6">
                <button type="submit" class="btn btn-block btn-success">Register</button>
            </div>
        </div>
        <br />
    }
</div>
<div class="col-md-3 col-sm-2"></div>


@section Scripts {
    <script>

    </script>
}
