@model OleLukoje.Models.UserProfile


<link href="~/Content/bootstrap-formhelpers.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-formhelpers.min.js"></script>
<script src="~/Scripts/bootstrap-formhelpers-countries.js"></script>
<script src="~/Scripts/bootstrap-formhelpers-states.js"></script>


            <div id="userprofile-header" class="col-xs-12">
                <div id="userprofile-username" class="col-xs-12 col-sm-6 col-md-6"><strong>@Model.UserName</strong></div>
                <div id="userprofile-fullname" class="col-xs-12 col-sm-6 col-md-6">
                    @if (Model.Name != null || Model.Surname != null)
                    {
                        @Model.Name @Model.Surname
                    }
                </div>
            </div>

            <div class="panel panel-primary col-xs-12 " style="margin-top:2em; padding-left:0; padding-right:0;" id="userprofile-userinfo">
                <div class="panel-heading">Contacts</div>
                <div class="panel-body">
                    @if (Model.Country != null || Model.City != null)
                    {
                        <div class="userprofile-contact-element">
                            <span ><span class="bfh-countries" data-country="@Model.Country" data-flags="true"></span>, @Model.City</span>
                        </div>
                    }


                    <div class="userprofile-contact-element">
                        
                            <a  href="mailto:@Model.Email">@Model.Email</a> <i class="fa fa-envelope" style="color:#fda190;"></i>
                        
                    </div>
                    @if (Model.Phone.Length > 5)
                    {
                        if (ViewBag.Mobile)
                        {
                            <div class="userprofile-contact-element">
                               <a href="tell:@Model.Phone">@Model.Phone</a> <i class="fa fa-mobile" style="color:#337ab7; "></i>
                            </div>
                        }
                        else
                        {
                            <div class="userprofile-contact-element">
                                <a href="callto:@Model.Phone">@Model.Phone</a> <i class="fa fa-phone fa-flip-horizontal" style="color:#71b43f; "></i>
                            </div>
                        }
                    }
                    @if (Model.Organization != null)
                    {
                        <div class="userprofile-contact-element">
                            <div>@Model.Organization <i class="fa fa-briefcase" style="color:#5c1c01;"></i></div>
                        </div>
                    }
                </div>

            </div>
