@using OleLukoje.Models
@model IEnumerable<Application>

<div class="panel-group">
    @if (Model.Count() != 0)
    {
        foreach (Application application in Model)
        {
            <div class="container col-md-10">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        @application.Header
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-1">
                                Text:
                            </div>
                            <div class="col-md-10">
                                @application.Text
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                Contact:
                            </div>
                            <div class="col-md-10">
                                @application.Contact
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-1">
                                Sender:
                            </div>
                            <div class="col-md-9">
                                @application.UserName
                            </div>
                            <div class="col-md-2">
                                @application.GetDateTimeString
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h1>Applications is not found</h1>
    }
</div>