@using OleLukoje.Models
@using OleLukoje.Helpers.Page
@model Page<Application>

<div class="panel-group" style="margin-top:1em;">
    @if (Model.Items.Count() != 0)
    {
        foreach (Application application in Model.Items.ToList())
        {
            <div class="col-xs-12 col-md-6" style="margin-bottom:1em;">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="font-size:1.3em;">
                        <strong>@application.UserName</strong> : @application.Header
                    </div>
                    <div class="panel-body">
                                <p class="userprofile-app-text">@application.Text</p>
                        <div class="row">
                            <div class="col-xs-1">
                                
                            </div>
                            <div class="col-xs-10">
                               
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                Contact: @application.Contact
                            </div>
                            <div class="col-xs-12 col-sm-6 userprofile-app-date" >
                                @application.GetDateTimeString
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
            <div class="col-xs-12 text-center">
                <ul class="pagination">
                    @for (int i = 1; i <= Model.PageInfo.CountPages; i++)
                    {
                        if (i == Model.PageInfo.PageNumber)
                        {
                            <li><a class="btn btn-primary disabled">@i</a></li>
                        }
                        else
                        {
                            <li>@Ajax.ActionLink(i.ToString(), "_UserProfileApplication", "UserProfile", new { userName = ViewBag.UserName, pageNumber = i }, new AjaxOptions { UpdateTargetId = "Profile_information" }, null)</li>
                        }
                    }
                </ul>
            </div>
    }
    else
    {
        <h2 class="text-center">Applications is not found</h2>
    }
</div>