@using OleLukoje.Models
@using OleLukoje.Helpers.Page
@model Page<Application>
@{string header = "";}
<div class="panel-group" style="margin-top:1em;">
    @if (Model.Items.Count() != 0)
    {
        for(int i = 0; i < Model.Items.Count(); i++ )
        {
            
            <div class="col-xs-12 col-md-6" style="margin-bottom:1em;">
                <div class="panel panel-primary" style="height:100%;">
                    <div class="panel-heading" style="font-size:1.3em;">
                        <strong>@Model.Items.ElementAt(i).UserName</strong> : @Model.Items.ElementAt(i).Header
                    </div>
                    <div class="panel-body">
                                <p class="userprofile-app-text">@Model.Items.ElementAt(i).Text</p>
                        @{header = ViewBag.Ads[i];}
                                @Html.ActionLink(header, "SingleAdView", "Ad", new { Id = Model.Items.ElementAt(i).AdId }, new object { });
                        <div class="row">
                            <div class="col-xs-1">
                                
                            </div>
                            <div class="col-xs-10">
                               
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                Contact: @Model.Items.ElementAt(i).Contact
                            </div>
                            <div class="col-xs-12 col-sm-6 userprofile-app-date" >
                                @Model.Items.ElementAt(i).GetDateTimeString
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
            <div class="col-xs-12 text-center">
                <ul class="pagination">
                    @for (int i = 1; i <= Model.PageInfo.CountPages; i++)
                    {
                        if (i == Model.PageInfo.PageNumber)
                        {
                            <li><a class="btn btn-primary disabled">@i</a></li>
                        }
                        else
                        {
                            <li>@Ajax.ActionLink(i.ToString(), "_UserProfileApplication", "UserProfile", new { userName = ViewBag.UserName, pageNumber = i }, new AjaxOptions { UpdateTargetId = "Profile_information" }, null)</li>
                        }
                    }
                </ul>
            </div>
    }
    else
    {
        <h2 class="text-center">Applications is not found</h2>
    }
</div>