@using OleLukoje.Models
@using OleLukoje.Helpers.Page
@model Page<Application>

<div class="panel-group">
    @if (Model.Items.Count() != 0)
    {
        foreach (Application application in Model.Items.ToList())
        {
            <div class="container col-md-10">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        @application.Header
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-1">
                                Text:
                            </div>
                            <div class="col-md-10">
                                @application.Text
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                Contact:
                            </div>
                            <div class="col-md-10">
                                @application.Contact
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-1">
                                Sender:
                            </div>
                            <div class="col-md-9">
                                @application.UserName
                            </div>
                            <div class="col-md-2">
                                @application.GetDateTimeString
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <br />
        <div class="row">
            <div class="col-md-10 text-center">
                <ul class="pagination">
                    @for (int i = 1; i <= Model.PageInfo.CountPages; i++)
                    {
                        if (i == Model.PageInfo.PageNumber)
                        {
                            <li><a class="btn btn-primary disabled">@i</a></li>
                        }
                        else
                        {
                            <li>@Ajax.ActionLink(i.ToString(), "_UserProfileApplication", "UserProfile", new { userName = ViewBag.UserName, pageNumber = i }, new AjaxOptions { UpdateTargetId = "Profile_information" }, null)</li>
                        }
                    }
                </ul>
            </div>
        </div>
    }
    else
    {
        <h2 class="text-center">Applications is not found</h2>
    }
</div>