@using OleLukoje.Models
@using OleLukoje.Helpers.Page
@model Page<Ad>

@if (Model.Items != null && Model.Items.ToList().Count != 0)
{
    string photoPath = "/Files/default.png";
    foreach (Ad ad in Model.Items.ToList())
    {
        photoPath = ad.Files.Any() ? ad.Files.First().Path : photoPath;
        int catCout = ad.Categories.Count;
        <div class="row">
            <div class="container col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-12">

                <div class="row list-ad-item">
                    <div class="row">
                        <div class="col-sm-12   list-ad-top-side ">
                            <div class="row center-block">
                                <div class="col-lg-4 col-md-5 col-sm-3 col-xs-4 ">
                                    <img src="@photoPath" class="list-ad-photo center-block" />

                                </div>
                                <div class="col-lg-8 col-md-7 col-sm-9 col-xs-8">
                                    <div class="header"><div>@Html.ActionLink(ad.Header, "SingleAdView", "Ad", new { Id = ad.Id }, new { @class = "header" })</div></div>
                                    @*<span>@ad.DateAd.ToLongDateString() at @ad.DateAd.ToLongTimeString()</span>*@
                                    @*<p>by @Html.ActionLink(ad.UserProfile.UserName, "UserProfile", "UserProfile", new { userName = ad.UserProfile.UserName }, null)</p>*@

                                    <div class="categories">
                                        @foreach (var category in ad.Categories.ToList())
                                        {
                                            if (--catCout != 0)
                                            {
                                                <span>@category.Name, </span>
                                            }
                                            else
                                            {<span> @category.Name </span>

                                            }
                                        }
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="row list-ad-bottom-side">
                        <div class=" col-xs-6">
                            <div class="list-ad-left-bottom-side">Date:@string.Format("{0:dd.MM.yyyy}", ad.DateAd)</div>
                        </div>
                        <div class="col-xs-6">
                            <div class=" list-ad-right-bottom-side ">@ad.Price₴</div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    }
    <br />
    <div class="row">
        <div class="col-md-12 text-center">
            <ul class="pagination">
                @for (int i = 1; i <= Model.PageInfo.CountPages; i++)
                {
                    if (i == Model.PageInfo.PageNumber)
                    {
                        <li><a href="#" onselect="true">@i</a></li>
                    }
                    else
                    {
                        <li><a href="#" onclick="GetPage('@i')">@i</a></li>
                    }
                }
            </ul>
            <input name="pageNumber" id="pageNumber" type="hidden" />
        </div>
    </div>
}
else
{
    <h1 class="text-center">Ads is not found</h1>
}

<script>
    $('#max').val('@ViewBag.MaxPrice');
    $('#min').val('@ViewBag.MinPrice');
    $('#pageSize').val('@Model.PageInfo.PageSize');

    function GetPage(number) {
        $('#pageNumber').val(number);
        $('#getListAds').click();
    }
</script>