@using OleLukoje.Models

<div class="row">
    <div class="col-sm-2">
        <div id="Filter"></div>
    </div>
    <div class="col-sm-10">
        <div id="ListAds"></div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('#Filter').load('@Url.Action("_FilterAds", "Ad")')
        if("@ViewBag.Search" == ""){
            $('#ListAds').load('@Url.Action("_ListAds", "Ad")')
        }
        else{
            $('#ListAds').load('@Url.Action("_Search", "Ad", new { input = ViewBag.Search })')
        }
    </script>
}